$purple: #6562ad;
$light-purple: #8b91d1;
$pink: #f9bdbd;
$red: #e46b7b;
$green: #a1e060;
$orange: #fec74b;
$white: #fff;
$grey: #f6f6fa;

.container {
  max-width: 305px;
  height: 550px;
  margin: 20px auto;
  box-shadow: 0 0 20px #9a9a9a;
  overflow: hidden;
  font-family: "Montserrat";
  border-radius: 6px;
  position: relative;
}

.header {
  background: $purple;
  padding: 20px;
}

.navbar {
  color: $white;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #7270bb;
  a {
    color: $white;
    text-decoration: none;
    font-size: 1.2em;
  }
