@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

$cGood: #2eb35a;
$cAlert: #d22c32;
$orange: #ff6b23;
$blue: #54c6fb;

* {  
    user-select: none; 
    cursor: default;
}

html{
	font-size: 62.5%;
	color: #c1c6cb;
    background-color: #15202e;
}

body {
    padding: 20px 50px;
}

body::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #110d0d;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.dashboard {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
